<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

        <context:property-placeholder location="classpath:musicPlayer.properties"/>
    <bean id="classicalMusic"
          class="ru.mamin.springexample.ClassicalMusic"
            init-method="doMyInit"
            destroy-method="doMyDestroy">
    </bean>
    <bean id="rockMusic"
          class="ru.mamin.springexample.RockMusic">
    </bean>
    <bean id="rapMusic"
          class="ru.mamin.springexample.RapMusic">
    </bean>
    <bean id="musicBean"
          class="ru.mamin.springexample.RapMusic">
    </bean>
    <bean id="musicPlayer"
          class="ru.mamin.springexample.MusicPlayer"
            scope="prototype"
            init-method="doInit"
            destroy-method="doDestroy">
        <property name="musicList">
            <list>
                <ref bean="rockMusic"/>
                <ref bean="classicalMusic"/>
                <ref bean="rapMusic"/>
            </list>
        </property>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>



</beans>