<component name="ArtifactManager">
  <artifact type="war" name="springapplication:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-application.war">
      <element id="artifact" artifact-name="springapplication:war exploded" />
    </root>
  </artifact>
</component>